@{
    ViewData["Title"] = "Home Page";
    ViewBag.HideFooter = "true"; // This will hide the footer
}

<link rel="stylesheet" href="~/css/favrecipes.css">

<h1>Your favourites recipes:</h1>

@foreach (var recipe in ViewBag.Recipes)
{
    <li class="favourite-recipe">
        <a href="@recipe.Url" class="recipe-button" target="_blank">@recipe.Label</a>
    </li>
}

