@{
    ViewData["Title"] = "Home Page";
}
@foreach (var recipe in ViewBag.Recipes)
{
    <li>
        <strong>Label:</strong> @recipe.Label <br />
        <strong>URL:</strong> <a href="@recipe.Url" target="_blank">@recipe.Url</a>
    </li>
}