@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-image">
    <img src="~/images/spices.png" alt="Spices">
    <div class="hero-text">
        <h1>Welcome to the Food API</h1>
        <h2>Find the best recipes from around the world.</h2>
    </div>
</div>

<section class="search-bar">
    <div class="container">
        <form asp-controller="Home" asp-action="RecipeSearch" method="post">
            <input type="text" class="form-control" id="searchQuery" name="searchQuery" placeholder="Enter any ingredient..." required />
            <button type="search-button">Search</button>
        </form>
    </div>
    <div class="container">
        <img src="~/images/item.png" alt="Item">
    </div>

</section>
