@{
    ViewData["Title"] = "Congratulations!";
    ViewBag.HideFooter = "true"; // This will hide the footer
}
<link rel="stylesheet" href="~/css/congrats.css">

<body>
    <div class="congratulations-container">
        <div class="message-box">
            <h1>Congratulations!</h1>
            <p>You are now registered on RecipesByGirls</p>
        </div>
    </div>
</body>

