.color-button-onclick {
    background-color: lightseagreen;
    color: white;
    border: none;
    text-align: center;
}

h1 {
    margin-top: 4%;
    margin-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    margin-left: 2%;
    margin-bottom: 0%;
    z-index: 1;
}


.button-container.element1{
    text-align:center;
    color: black;
}

.search-result {
    margin-left: 0%;
    z-index: 1;
    margin-top: 2%;
    font-size: large;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
}

.recipe-button {
    display: inline-block;
    padding: 10px 15px;
    background-color: lightcoral;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    border: 1px solid;
    transition: background-color 0.3s ease;
    width:50%;
    margin-bottom: 0.5%;
}

.recipe-button:hover {
    background-color: coral;
    text-decoration: underline;
}

.view-ingredients-link:hover {
    color: darkcyan;
}

.button-container {
    display: flex;
    align-items: center;
}

.element1, .element2 {
    margin-right: 10px;
}

.element2 {
    margin-left: 10px;
}

.view-ingredients-link {
    display: inline;
    padding: 0;
    background-color: transparent;
    color: lightseagreen;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: inherit;
    transition: color 0.3s ease;
}