body {
    font-family: Arial, Helvetica, sans-serif;
}

.page-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3%;
    box-sizing: border-box;
}

.left-content,
.right-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-info {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: x-large;
    margin-bottom: 20px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px;

}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container p {
    text-align: center;
}

input[type=text], input[type=password] {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

button {
    background-color: darkolivegreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
}

button:hover {
    opacity: 1;
}

.cancelbtn {
    background-color: #f44336;
    width: 48%;
}

.signupbtn {
    background-color: darkolivegreen;
    width: 48%;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    gap: 4%;
}

.imgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

img.avatar {
    width: 60%;
}

.container {
    width: 100%;
}
