@{
    ViewData["Title"] = "Home Page";
}


<section class="featured-recipes">
    <div class="container">
        <h2>Favourites Recipes</h2>
        <div class="recipes">
            <div class="recipe">
                <img src="~/images/recipe1.jpg" alt="Recipe 1">
                <h3>Recipe 1</h3>
            </div>
            <div class="recipe">
                <img src="~/images/recipe2.jpg" alt="Recipe 2">
                <h3>Recipe 2</h3>
            </div>
            <div class="recipe">
                <img src="~/images/recipe3.jpg" alt="Recipe 3">
                <h3>Recipe 3</h3>
            </div>
        </div>
    </div>
</section>

