@{
    ViewData["Title"] = "Home Page";
}


<section class="hero">
    <div class="container">
        <h2>Welcome to the Food API</h2>
        <p>Find the best recipes from around the world.</p>
    </div>
</section>

<section class="search-bar">
    <div class="container">
        <form asp-controller="Home" asp-action="RecipeSearch" method="post">
            <input type="text" name="query" placeholder="Search for recipes..." />
            <button type="submit">Search</button>
        </form>
    </div>
</section>
