<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RecipesByGirls</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <ul class="custom-navbar">
            <li>
                <h2 class="logo">RecipesByGirls</h2>
            </li>

            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>

            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FavouritesRecipes">FavouritesRecipes</a>
            </li>

            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="User">Profile</a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="signUp">sign up</a>
            </li>
        </ul>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  @if (string.IsNullOrEmpty(ViewBag.HideFooter) || ViewBag.HideFooter != "true")
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - RecipesByGirls - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        
      
    } *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
